@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
$--font-family: 'Poppins';

$--color-bac: #051C55;
$--color-alt: #14128E;
$--color-pri: #FA921C;
$--color-sec: #E76900;
$--color-thi: #d05100;

$--page-width: 600px;